
{% extends 'customer/base.html'%}
{% load bootstrap4 %}
{% block content %}
<main>
<div class="container ">
<div class="row">
  <div class="col-md-">

  </div>
  <div class="col-md-6">
    <div class="row">
      <div class="col-md-6 mt-5 nosho">




      </div>
      <div class="col-md-6 mt-5">

        <form  class="text-center border border-light p-5"action="" method="post" style=" border-radius: 15px solid lightgrey; padding:7%; background-color:white;width: 500px">

          <h4 style="font-family: 'fantasy', cursive;color: #b2def2; size:15px" class="text-center">Create Ticket</h4>
          {% csrf_token %}
          {% bootstrap_form form layout='label'%}


          <div class="form-group">
                <button class="btn btn-outline-info btn-rounded btn-block z-depth-0 my-4 waves-effect" type="submit">Create ticket</button>
            </div>


        </form>
      </div>
    </div>
  </div>
  <div class="col-md-1">
</div>
</div>
</main>
<style>
body{
background-color:whitesmoke;}
main {
  margin-left: 160px; /* Same as the width of the sidenav */
  padding: 0px 10px;
}</style>
{% endblock content %}
