
{% extends 'customer/base.html'%}
{% load bootstrap4 %}
{% block content %}
<main>
<div class="container "style="float:right; padding-left:5em; margin-top: -40em; margin-left: 12em">
<div class="row">
  <div class="col-md-">

  </div>
  <div class="col-md-6">
    <div class="row">
      <div class="col-md-6 mt-5 nosho">
   
           
       
             
      </div>
      <div class="col-md-6 mt-5">

        <form  class="text-center border border-light p-5"action="" method="post" style=" border-radius: 15px solid lightgrey; padding:7%; background-color:white;width: 500px">

          <h4 style="font-family: 'fantasy', cursive;color: #4E73DF; size:15px" class="text-center">Create Ticket</h4>
          {% csrf_token %}
          {% bootstrap_form form layout='inline'%}
       
         
          <div class="form-group">
                <button class="btn btn-outline-info btn-rounded btn-block z-depth-0 my-4 waves-effect" type="submit">Create ticket</button>
            </div>
         
         
        </form>
      </div>
    </div>
  </div>
  <div class="col-md-1">
</div>
</div>
</div>
</main>
<style>
body{
background-color:whitesmoke;}
</style>
{% endblock content %}
