{% include 'customer/base.html'%}
{% block content %}
<main>

  <section id="welcome-section" class="container">
    <div class="row">
      <div class="col-lg-5 col-sm-2">
        <h4 style="font-family: 'fantasy', cursive;color: #357EC7; size:15px" class="text-center">My Tickets
          ({{tickets|length }})</h4>

      </div>
      <div class="col-lg-2 col-sm-2">

      </div>
      <div class="col-lg-1 col-sm-1">

      </div>
      <div class="col-lg-4 col-sm-2">

        <form class="form-inline my-2 my-sm-0" role="search" action="{% url 'search_results' %}">

          <div class="search">

            <input class="form-control mr-sm-2" type="search" placeholder="Search For Ticket" aria-label="Search"
              name="ticket"><i class="fa fa-search"></i>

          </div>

        </form>
      </div>
    </div>

    <div class="row mt-2">

        <table class="table table-primary">
          <thead class="thead-dark">
            <tr>
              <th scope="col">#</th>
              <th scope="col">Title</th>
              <th scope="col">Date Created</th>
              <th scope="col">Last Updated</th>
              <th scope="col">Status</th>
              <th scope="col">Ticket Number</th>
            </tr>
          </thead>
          <tbody>
              {% for ticket in tickets %}
            <tr>
              <th scope="row">{{ticket.id}}</th>

              <td><a data-toggle="modal" href="#{{ticket.id}}{{ticket.owner.username}}">{{ticket.ticket_subtype}}</a></td>
              <td>{{ticket.date_created |date:"D, d M ,Y"}}</td>
              <td>{{ticket.last_updated |date:"D, d M ,Y" }}</td>
              <td>{{ticket.get_status_display}}</td>
              <td>{{ticket.ticket_number}}</td>
            </tr>
            {% endfor %}
          </tbody>
        </table>


    </div>
    {% for ticket in tickets  %}
    <div class="row mt-2">

      <!-- Modal -->
      <div class="modal fade" id="{{ticket.id}}{{ticket.owner.username}}" tabindex="-1" role="dialog"
        aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog" role="document">
          <div class="modal-content">
            <div class="modal-header">
              <h6 class="modal-title" id="exampleModalLabel">{{ticket.issue |upper}}</h6>
              <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                <span aria-hidden="true">&times;</span>
              </button>
            </div>
            <div class="modal-body">
              <div class="card card-body">
                <h5>Edited By:</h5>
                <li class="list-group">
                <li class="list-group-item">Agent: {{ticket.agent.username}}</li>
                <li class="list-group-item">Last Updated: {{ticket.last_updated |date:"D, d M ,Y"}}</li>
                <li class="list-group-item">Time: {{ticket.last_updated |date:"H:i"}}</li>
                </li>
              </div>
            </div>
            <div class="modal-footer">
              <button type="button" class="btn btn-danger" data-dismiss="modal">Close</button>
            </div>
          </div>
        </div>
      </div>

    </div>

    {% endfor %}
  </section>
</main>
<style>
  /* Style the main content */
  main {
    margin-left: 200px;
    /* Same as the width of the sidenav */
    padding: 0px 10px;
  }

</style>
{% endblock  %}
