{% extends 'tatuadmin/base.html'%}

{% load crispy_forms_tags %}

{% block content %}
<div class="container" style="float:right; padding-left:4em; margin-top:4em">
  <div class="row mt-2">
    <a class="btn btn-sm btn-outline-secondary " href="{% url 'create_ticket' %}"
      >Create Ticket Type</a
    >
    <a class="btn btn-sm btn-outline-info ml-2" href="{% url 'create_ticket_subtype' %}"
      >Create Ticket Subtype</a
    >
  </div>


    <div class="row mt-2">
        <h5> Ticket Types ({{tickets |length }})</h5>
        <table class="table table-responsive mt-2">
            <thead class="" style="background-color: #357EC7
    ;color:black;">
              <tr>
                <th scope="col">ID</th>
                <th scope="col">Ticket Type</th>
                <th scope="col">Priority</th>
                <th scope="col">Delete Ticket</th>

              </tr>
            </thead>
            <tbody>
                {% for ticket in tickets %}
              <tr>
                <th scope="row">{{ticket.id}}</th>
                <td><a href="{% url 'edit_ticket' ticket.id %}">{{ticket.name}}</a></td>
                <td>{{ticket.priority}}</td>
                <td><a class="btn btn-outline-primary"  href="{% url 'delete_ticket' ticket.id %}">Yes</a></td>
              </tr>
              {% endfor %}
            </tbody>
          </table>



    </div>
    <!-- row -->



</div>

{% endblock content %}
