{% load bootstrap4%}
{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    {% if title %}
    <title>Tatu-{{title}}</title>
    {% else %}
    <title>Tatu</title>    
    {% endif %}

    {% block styles %}
        {% bootstrap_css%}
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
        <link rel="stylesheet" href="{% static 'css/tatuadmin.css'%}">
    {% endblock styles %}
</head>
<body>
    {% include 'tatuadmin/navbar.html'%}

    <div class="container">
        <div class="row">
            <div class="col-md-2"></div>
            <div class="col-md-8">
                    <!-- flash messages -->
                    {% if  messages %}
                    {% for mssg in messages  %}
                    <div class="alert alert-{{mssg.tags}}">

                        {{mssg}}
                        <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>            
                    {% endfor %}
                {% endif %}
                <!-- end flash messages -->
            </div>
            <div class="col-md-2"></div>
        </div>     

    </div>


    {% block content %}

    {% endblock content %} 



    {% block scripts %}
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
    {% bootstrap_javascript%}
    <script src="{% static 'js/tatuadmin.js'%}"></script> 
    
    {% endblock scripts %}
        
</body>
</html>