        <!-- Sidebar -->
        <ul class="navbar-nav bg-gradient-primary sidebar sidebar-dark accordion" id="accordionSidebar" style="position:fixed; padding-bottom:-4em" id="wrapper">
{% if user.is_authenticated %}
          <!-- Sidebar - Brand -->
          <a class="sidebar-brand d-flex align-items-center justify-content-center" href="{% url 'admin_home'%}">
            <div class="sidebar-brand-icon rotate-n-15">
              <i class="fas fa-laugh-wink"></i>
            </div>
            <div class="sidebar-brand-text mx-3">Tatu Admin <sup>3</sup></div>
          </a>
          <div class="admin_profile">
            <img src="{{user.profile.profile_photo.url}}" alt="" style="width:40px;display: block;
               margin-left: auto;
               margin-right: auto;
               border-radius: 50%;height: 40px; content-align:center;">
             <a href="{% url 'admin_profile' %}" class="nav-item nav-link" style="padding-left:2em; color:white !important">Welcome {{user.username}}</a>

          </div>
          <!-- Divider -->
          <hr class="sidebar-divider my-0">

          <!-- Nav Item - Dashboard -->
          <li class="nav-item">
            <a class="nav-link" href="{% url 'admin_home'%}">
              <i class="fas fa-fw fa-tachometer-alt"></i>
              <span>Dashboard</span></a>
          </li>

          <!-- Divider -->
          <hr class="sidebar-divider">

          <!-- Heading -->
          <div class="sidebar-heading">
            Interface
          </div>

          <!-- Nav Item - Pages Collapse Menu -->
          <li class="nav-item active">
            <a class="nav-link" href="{% url 'ticket_management'%}" >
              <i class="fas fa-fw fa-cog"></i>
              <span>Ticket Management</span>
            </a>
          </li>

          <!-- Nav Item - Utilities Collapse Menu -->
          <li class="nav-item">
            <a class="nav-link collapsed" href="{% url 'user_management'%}">
              <i class="fas fa-fw fa-wrench"></i>
              <span>User Management</span>
            </a>

          </li>

          <!-- Divider -->
          <hr class="sidebar-divider">

          <!-- Heading -->
          <div class="sidebar-heading">
            Addons
          </div>

          <!-- Nav Item - Pages Collapse Menu -->
          <li class="nav-item">
            <a class="nav-link collapsed" href="{% url 'department_management'%}" >
              <i class="fas fa-fw fa-folder"></i>
              <span>Department</span>
            </a>
          </li>

          <!-- <li class="nav-item">
            <a class="nav-link collapsed" href="{% url 'change_password'%}" >
              <i class="fas fa-fw fa-folder"></i>
              <span>Change Password</span>
            </a>
          </li> -->


          <!-- Nav Item - Tables -->
          <li class="nav-item">
            <a class="nav-link" href="{% url 'tables' %}">
              <i class="fas fa-fw fa-table"></i>
              <span>Tables</span></a>


          </li>
          <li class="nav-item">

              <a class="nav-link" href="{% url 'logout' %}">

                <i class="fas fa-sign-out-alt"></i>

                <span>Logout</span></a>

            </li>

             {% else %}
             <li class="nav-item">

                 <a class="nav-link" href="{% url 'login' %}">

                   <i class="fas fa-sign-in"></i>

                   <span>Logout</span></a>

               </li>


        {% endif %}
          <!-- Divider -->
          <hr class="sidebar-divider d-none d-md-block">

          <!-- Sidebar Toggler (Sidebar) -->
          <div class="text-center d-none d-md-inline" style="padding-left:-3em;margin-left: auto;
          margin-right: auto;">
            <button class="rounded-circle border-0" id="sidebarToggle"></button>
          </div>

        </ul>
        <!-- End of Sidebar -->
