{% extends 'tatuadmin/base.html'%}

{% load crispy_forms_tags %}

{% block content %}
<div class="container" id="content" style="padding-left:17%; padding-top:2%;">
  <div class="container-fluid">


  <div class="row mt-2">
    <!-- <a class="btn btn-sm btn-outline-primary" href="{% url 'create_agent'%}" data-toggle="tooltip" title="Click to create agents!" data-placement="left"
      >Create Agent/Admin</a
    > -->
  </div>

<div class="card shadow mb-4">
<div class="row card-header" style="background-color:transparent;">
  <div class="col">
    <h6 class="m-0 font-weight-bold text-primary">All Agents ({{profiles |length }})</h6>
  </div>
  <div class="col">

  </div>
  <div class="col">
    <a class="btn btn-sm btn-outline-primary" style="align:center" href="{% url 'create_agent'%}" data-toggle="tooltip" title="Click to create agents!" data-placement="left"
      >Create Agent/Admin</a
    >
  </div>
</div>


    <div class="card-body">
    <div class="class="table-responsive"">
    <table class="table table-bordered" id="dataTable" width="100%" cellspacing="0">
      <thead class="" style="background-color: #357EC7
;color:black;">
        <tr>
          <!-- <th scope="col">#</th> -->
          <th scope="col">Agent</th>
          <th scope="col">Email</th>
          <th scope="col">Phone Number</th>
          <th scope="col">Active</th>
          <th scope="col">Department</th>
        </tr>
      </thead>
      <tbody>
          {% for profile in profiles %}
        <tr>
          <!-- <th scope="row">{{profile.user.id}}</th> -->
          <td><a href="{% url 'edit_agent' profile.user.id %}" data-toggle="tooltip" title="Click to manage agent!" data-placement="top">{{profile.user.username}}</a></td>
          <td>{{profile.user.email}}</td>
          <td>{{profile.phone_number}}</td>
          <td>{{profile.is_staff}}</td>
          <td>{{profile.department}}</td>
        </tr>
        {% endfor %}
      </tbody>
    </table>
</div>
    </div>
    </div>
</div>
</div>
  </div>
<script>
$(document).ready(function(){
  $('[data-toggle="tooltip"]').tooltip();
});
</script>
</div>

{% endblock content %}
