{% extends 'base.html'%}

{% load crispy_forms_tags %} 

{% block content %}
<div class="container">
  <div class="row">
    <a class="btn btn-sm btn-outline-secondary" href="{% url 'create_agent'%}"
      >Create Agent</a
    >
  </div>

  <div class="row">
    <!-- <div class="col-md-2"></div> -->
    <ul class="list-group">
        {% for profile in profiles %}
        <li class="list-group-item"> <a href="{% url 'edit_agent' profile.user.id %}">{{profile.user.username}}</a></li>
        {% endfor %}
    </ul>

</div>
<!-- row -->

{% endblock content %}
