{% extends 'tatuadmin/base.html'%}
{% load crispy_forms_tags %}
{% block content %}
<div class="container">
    <div class="row">
        <div class="col-md-2"></div>
        <div class="col-md-8" style="padding-top:2%;">
            <div class="card shadow mb-4">
                <div class="card-header" style="background-color:transparent;">
                    <p>Assign Ticket to Agent/Department</p>

                </div>
                <div class="card-body">
                    <ul class="list-group">
                        <li class="list-group-item">Owner: {{ticket.owner.username}}</li>
                        <li class="list-group-item">Issue: {{ticket.ticket_subtype}}</li>
                        <li class="list-group-item">Summary: {{ticket.summary}}</li>
                        <li class="list-group-item">Ticket Number: {{ticket.ticket_number}}</li>
                    </ul>
                    <form action="" method="POST">
                            {% csrf_token %}
                            <fieldset class="form-group">
                                <legend class="border-bottom mb-4"></legend>
                                {{form | crispy}}
                            </fieldset>
                            <div class="form-group">
                                <button class="btn btn-outline-primary" type="submit">Assign</button>
                                <a class="btn btn-outline-danger" href="{% url 'admin_home' %}">Cancel</a>
                            </div>
                        </form>
                </div>
            </div>


        </div>
        <div class="col-md-2"></div>
    </div>
</div>
{% endblock content %}
