{% extends 'tatuadmin/base.html'%}
{% load crispy_forms_tags %}
{% block content %}
    <div class="container-fluid" style="padding-left:26%; padding-top:2%; padding-right:8%;">
        <div class="card shadow mb-4" >
            <!-- <div class="col-md-2"></div> -->
            <div class="card-body">
                <form action="" method="POST">
                        {% csrf_token %}
                        <fieldset class="form-group mt-4">
                            <legend class="border-bottom mb-4">Create Agent/Admin</legend>
                            {{form | crispy}}
                        </fieldset>
                        <div class="form-group">
                            <button class="btn btn-outline-primary" type="submit">Submit</button>
                        </div>
                    </form>
            </div>
            <!-- <div class="col-md-2"></div> -->
        </div>
    </div>

{% endblock content %}
