{% extends 'tatuadmin/base.html'%}
{% load crispy_forms_tags %}
{% block content %}
    <div class="container-fluid row row-fluid" style="padding-left:6.2%; padding-top:2%">
        <div class="col-md-2"></div>
        <div class="col-md-8">
            <form action="" method="POST">
                {% csrf_token %}
                <fieldset class="form-group">
                    <legend class="border-bottom mb-4">Edit Agent</legend>
                    {{form | crispy}}
                    {{usrform | crispy}}

                </fieldset>
                <div class="form-group">
                    <button class="btn btn-outline-primary" type="submit">Submit</button>
                </div>
            </form>
        </div>
        <div class="col-md-2"></div>
    </div>

{% endblock content %}
