{% extends 'tatuadmin/base.html'%}
{% load static %}
<!-- <!DOCTYPE html> -->

  {% block content %}
<section class="container" style="float:right; padding-left:4em; margin-top:2em">
  <div class="row mt-2">
    <h5>Closed Tickets ({{closed_tickets|length }})</h5>

      <table class="table table-responsive mt-2">
        <thead class="" style="background-color: #357EC7
;color:black;">
          <tr>
            <th scope="col">#</th>
            <th scope="col">Issue</th>
            <th scope="col">Ticket Type</th>
            <th scope="col">Date Created</th>
            <th scope="col">Agent</th>
            <th scope="col">Status</th>
            <th scope="col">Priority</th>
          </tr>
        </thead>
        <tbody>
            {% for ticket in closed_tickets %}
          <tr>
            <th scope="row">{{ticket.id}}</th>

            <td><a data-toggle="modal" href="#{{ticket.id}}{{ticket.owner.username}}">{{ticket.issue}}</a></td>
            <td>{{ticket.ticket_type.name}}</td>
            <td>{{ticket.date_created |date:"D, d M ,Y"}}</td>
            <td>{{ticket.agent.username}}</td>
            <td>{{ticket.get_status_display}}</td>
            <td>{{ticket.ticket_type.get_priority_display}}</td>

          </tr>
          {% endfor %}
        </tbody>
      </table>


  </div>


  <div class="row mt-2">
    <h5>In progress Tickets ({{pending_tickets|length }})</h5>

      <table class="table table-responsive mt-2" style="width:auto">
        <thead class="" style="background-color: #357EC7
;color:black;">
          <tr>
            <th scope="col">#</th>
            <th scope="col">Issue</th>
            <th scope="col">Ticket Type</th>
            <th scope="col">Date Created</th>
            <th scope="col">Agent</th>
            <th scope="col">Status</th>
            <th scope="col">Priority</th>
            <th scope="col">Take/ Assign Ticket(s)</th>

          </tr>
        </thead>
        <tbody>
            {% for ticket in pending_tickets %}
          <tr>
            <th scope="row">{{ticket.id}}</th>

            <td><a data-toggle="modal" href="#{{ticket.id}}{{ticket.owner.username}}">{{ticket.issue}}</a></td>
            <td>{{ticket.ticket_type.name}}</td>
            <td>{{ticket.date_created |date:"D, d M ,Y"}}</td>
            <td>{{ticket.agent.username}}</td>
            <td>{{ticket.get_status_display}}</td>
            <td>{{ticket.ticket_type.get_priority_display}}</td>
            <td><a href="{%url 'assign_ticket' ticket.id %}">Re-Assign Ticket(s)</a> </td>
          </tr>

          {% endfor %}
        </tbody>
      </table>
  </div>
 <!-- ==============modals========= -->
 {% for ticket in tickets  %}
 <div class="row mt-2">

<!-- Modal -->
<div class="modal fade" id="{{ticket.id}}{{ticket.owner.username}}" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
 <div class="modal-dialog" role="document">
   <div class="modal-content">
     <div class="modal-header">
       <h6 class="modal-title" id="exampleModalLabel">{{ticket.issue |upper}}</h6>
       <button type="button" class="close" data-dismiss="modal" aria-label="Close">
         <span aria-hidden="true">&times;</span>
       </button>
     </div>
     <div class="modal-body">
      <div class="card card-body">
        <h6>Ticket Number:{{ticket.ticket_number}}</h6>
        <p class="card-text">{{ticket.summary}}</p>
        <li class="list-group">
           <li class="list-group-item">Owner: {{ticket.owner.username}}</li>
           <li class="list-group-item">Email: {{ticket.owner.email}}</li>
           <li class="list-group-item">Status: {{ticket.get_status_display}}</li>
           <li class="list-group-item">Date Created: {{ticket.date_created |date:"D, d M ,Y"}}</li>
          <li class="list-group-item">Priority: {{ticket.ticket_type.get_priority_display}}</li>
          <li class="list-group-item">Time: {{ticket.last_updated |date:"H:i"}}</li>
        </li>
      </div>
     </div>
     <div class="modal-footer">
       <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
     </div>
   </div>
 </div>
</div>

 </div>

 {% endfor %}

 <!-- ==============modals========= -->
 {% for ticket in closed_tickets  %}
 <div class="row mt-2">

<!-- Modal -->
<div class="modal fade" id="{{ticket.id}}{{ticket.owner.username}}" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
 <div class="modal-dialog" role="document">
   <div class="modal-content">
     <div class="modal-header">
       <h6 class="modal-title" id="exampleModalLabel">{{ticket.issue |upper}}</h6>
       <button type="button" class="close" data-dismiss="modal" aria-label="Close">
         <span aria-hidden="true">&times;</span>
       </button>
     </div>
     <div class="modal-body">
      <div class="card card-body">
        <h6>Ticket Number:{{ticket.ticket_number}}</h6>
        <p class="card-text">{{ticket.summary}}</p>
        <li class="list-group">
           <li class="list-group-item">Owner: {{ticket.owner.username}}</li>
           <li class="list-group-item">Email: {{ticket.owner.email}}</li>
           <li class="list-group-item">Status: {{ticket.get_status_display}}</li>
           <li class="list-group-item">Date Created: {{ticket.date_created |date:"D, d M ,Y"}}</li>
          <li class="list-group-item">Priority: {{ticket.ticket_type.get_priority_display}}</li>
          <li class="list-group-item">Time: {{ticket.last_updated |date:"H:i"}}</li>
        </li>
      </div>
     </div>
     <div class="modal-footer">
       <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
     </div>
   </div>
 </div>
</div>

 </div>

 {% endfor %}


  <!-- ==============modals========= -->
  {% for ticket in pending_tickets  %}
  <div class="row mt-2">

<!-- Modal -->
<div class="modal fade" id="{{ticket.id}}{{ticket.owner.username}}" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h6 class="modal-title" id="exampleModalLabel">{{ticket.issue |upper}}</h6>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
       <div class="card card-body">
         <h6>Ticket Number:{{ticket.ticket_number}}</h6>
         <p class="card-text">{{ticket.summary}}</p>
         <li class="list-group">
            <li class="list-group-item">Owner: {{ticket.owner.username}}</li>
            <li class="list-group-item">Email: {{ticket.owner.email}}</li>
            <li class="list-group-item">Status: {{ticket.get_status_display}}</li>
            <li class="list-group-item">Date Created: {{ticket.date_created |date:"D, d M ,Y"}}</li>
           <li class="list-group-item">Priority: {{ticket.ticket_type.get_priority_display}}</li>
           <li class="list-group-item">Time: {{ticket.last_updated |date:"H:i"}}</li>
         </li>
       </div>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
      </div>
    </div>
  </div>
</div>

  </div>
</section>


        {% endfor %}

  {% endblock %}
