{% extends 'tatuadmin/base.html'%}
{% load static %}

  {% block content %}
  <section class="container" style="width:62em; padding-left:5em; padding-top:4em;">
    <ul class="nav nav-tabs nav-justified md-tabs indigo" id="myTabJust" role="tablist">
  <li class="nav-item">
    <a class="nav-link active" id="home-tab-just" data-toggle="tab" href="#home-just" role="tab" aria-controls="home-just"
      aria-selected="true"><h5>Closed Tickets ({{closed_tickets|length }})</h5></a>
  </li>
  <li class="nav-item">
    <a class="nav-link" id="profile-tab-just" data-toggle="tab" href="#profile-just" role="tab" aria-controls="profile-just"
      aria-selected="false"><h5>In progress Tickets ({{pending_tickets|length }})</h5></a>
  </li>
  <li class="nav-item">
    <a class="nav-link" id="contact-tab-just" data-toggle="tab" href="#contact-just" role="tab" aria-controls="contact-just"
      aria-selected="false"></a>
  </li>
</ul>
<div class="tab-content card pt-5" id="myTabContentJust">
  <div class="tab-pane fade show active" id="home-just" role="tabpanel" aria-labelledby="home-tab-just">
    <div class="row mt-2" style="padding-left:2em">
      <h5>Closed Tickets ({{closed_tickets|length }})</h5>

        <table class="table table-responsive mt-2">
          <thead class="" style="background-color: #357EC7
  ;color:black;">
            <tr>
              <!-- <th scope="col">#</th> -->
              <th scope="col">Issue</th>
              <th scope="col">Ticket Type</th>
              <th scope="col">Date Created</th>
              <th scope="col">Agent</th>
              <th scope="col">Status</th>
              <th scope="col">Priority</th>
            </tr>
          </thead>
          <tbody>
              {% for ticket in closed_tickets %}
            <tr>
              <!-- <th scope="row">{{ticket.id}}</th> -->

              <td><a data-toggle="modal" href="#{{ticket.id}}{{ticket.owner.username}}">{{ticket.issue}}</a></td>
              <td>{{ticket.ticket_type.name}}</td>
              <td>{{ticket.date_created |date:"D, d M ,Y"}}</td>
              <td>{{ticket.agent.username}}</td>
              <td>{{ticket.get_status_display}}</td>
              <td>{{ticket.ticket_type.get_priority_display}}</td>

            </tr>
            {% endfor %}
          </tbody>
        </table>


    </div>
  </div>
  <div class="tab-pane fade" id="profile-just" role="tabpanel" aria-labelledby="profile-tab-just">
      <div class="row mt-2" style="padding-left:2em">
      <h5>In progress Tickets ({{pending_tickets|length }})</h5>
  <br>
        <table class="table table-responsive mt-2" >
          <thead class="" style="background-color: #357EC7
  ;color:black;">
            <tr>
              <!-- <th scope="col">#</th> -->
              <th scope="col">Issue</th>
              <th scope="col">Ticket Type</th>
              <th scope="col">Date Created</th>
              <th scope="col">Agent</th>
              <th scope="col">Status</th>
              <th scope="col">Priority</th>
              <th scope="col">Assign Ticket(s)</th>

            </tr>
          </thead>
          <tbody>
              {% for ticket in pending_tickets %}
            <tr>
              <!-- <th scope="row">{{ticket.id}}</th> -->

              <td><a data-toggle="modal" href="#{{ticket.id}}{{ticket.owner.username}}"  data-toggle="tooltip" title="Click to see ticket details!" data-placement="left">{{ticket.ticket_subtype}}</a></td>
              <td>{{ticket.ticket_type.name}}</td>
              <td>{{ticket.date_created |date:"D, d M ,Y"}}</td>
              <td>{{ticket.agent.username}}</td>
              <td>{{ticket.get_status_display}}</td>
              <td>{{ticket.ticket_type.get_priority_display}}</td>
              <td><a href="{%url 'assign_ticket' ticket.id %}" class="btn btn-primary" data-toggle="tooltip" title="Click to reasign ticket" data-placement="left">Re-Assign Ticket</a> </td>
            </tr>

            {% endfor %}
          </tbody>
        </table>
    </div>
  </div>
  <div class="tab-pane fade" id="contact-just" role="tabpanel" aria-labelledby="contact-tab-just">

  </div>
</div>
  </section>
<section class="container" style="float:right; padding-left:4em; margin-top:2em">

 <!-- ==============modals========= -->
 {% for ticket in tickets  %}
 <div class="row mt-2">

<!-- Modal -->
<div class="modal fade" id="{{ticket.id}}{{ticket.owner.username}}" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
 <div class="modal-dialog" role="document">
   <div class="modal-content">
     <div class="modal-header">
       <h6 class="modal-title" id="exampleModalLabel">{{ticket.ticket_subtype |upper}}</h6>
       <button type="button" class="close" data-dismiss="modal" aria-label="Close">
         <span aria-hidden="true">&times;</span>
       </button>
     </div>
     <div class="modal-body">
      <div class="card card-body">
        <h6>Ticket Number:{{ticket.ticket_number}}</h6>
        <p class="card-text">Summary:<br> {{ticket.summary}}</p>
        <li class="list-group">
           <li class="list-group-item">Owner: {{ticket.owner.username}}</li>
           <li class="list-group-item">Email: {{ticket.owner.email}}</li>
           <li class="list-group-item">Status: {{ticket.get_status_display}}</li>
           <li class="list-group-item">Date Created: {{ticket.date_created |date:"D, d M ,Y"}}</li>
          <li class="list-group-item">Priority: {{ticket.ticket_type.get_priority_display}}</li>
          <li class="list-group-item">Time: {{ticket.last_updated |date:"H:i"}}</li>
        </li>
      </div>
     </div>
     <div class="modal-footer">
       <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
     </div>
   </div>
 </div>
</div>

 </div>

 {% endfor %}

 <!-- ==============modals========= -->
 {% for ticket in closed_tickets  %}
 <div class="row mt-2">

<!-- Modal -->
<div class="modal fade" id="{{ticket.id}}{{ticket.owner.username}}" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
 <div class="modal-dialog" role="document">
   <div class="modal-content">
     <div class="modal-header">
       <h6 class="modal-title" id="exampleModalLabel">{{ticket.ticket_subtype |upper}}</h6>
       <button type="button" class="close" data-dismiss="modal" aria-label="Close">
         <span aria-hidden="true">&times;</span>
       </button>
     </div>
     <div class="modal-body">
      <div class="card card-body">
        <h6>Ticket Number:{{ticket.ticket_number}}</h6>
        <p class="card-text">Summary: <br>{{ticket.summary}}</p>
        <li class="list-group">
           <li class="list-group-item">Owner: {{ticket.owner.username}}</li>
           <li class="list-group-item">Email: {{ticket.owner.email}}</li>
           <li class="list-group-item">Status: {{ticket.get_status_display}}</li>
           <li class="list-group-item">Date Created: {{ticket.date_created |date:"D, d M ,Y"}}</li>
          <li class="list-group-item">Priority: {{ticket.ticket_type.get_priority_display}}</li>
          <li class="list-group-item">Time: {{ticket.last_updated |date:"H:i"}}</li>
        </li>
      </div>
     </div>
     <div class="modal-footer">
       <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
     </div>
   </div>
 </div>
</div>

 </div>

 {% endfor %}


  <!-- ==============modals========= -->
  {% for ticket in pending_tickets  %}
  <div class="row mt-2">

<!-- Modal -->
<div class="modal fade" id="{{ticket.id}}{{ticket.owner.username}}" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h6 class="modal-title" id="exampleModalLabel">{{ticket.ticket_subtype |upper}}</h6>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
       <div class="card card-body">
         <h6>Ticket Number:{{ticket.ticket_number}}</h6>
         <p class="card-text">Summary : <br>{{ticket.summary}}</p>
         <li class="list-group">
            <li class="list-group-item">Owner: {{ticket.owner.username}}</li>
            <li class="list-group-item">Email: {{ticket.owner.email}}</li>
            <li class="list-group-item">Status: {{ticket.get_status_display}}</li>
            <li class="list-group-item">Date Created: {{ticket.date_created |date:"D, d M ,Y"}}</li>
           <li class="list-group-item">Priority: {{ticket.ticket_type.get_priority_display}}</li>
           <li class="list-group-item">Time: {{ticket.last_updated |date:"H:i"}}</li>
         </li>
       </div>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-danger" data-dismiss="modal">Exit</button>
      </div>
    </div>
  </div>
</div>

  </div>
</section>


        {% endfor %}
        <script>
        $(document).ready(function(){
          $('[data-toggle="tooltip"]').tooltip();
        });
        </script>
  {% endblock %}
