{% extends 'tatuadmin/base.html'%}

{% load crispy_forms_tags %} 

{% block content %}
<div class="container">
  <div class="row mt-2">
    <a class="btn btn-sm btn-outline-secondary" href="{% url 'create_department'%}"
      >Create Department</a
    >
  </div>

  <div class="row mt-2">
    <!-- <div class="col-md-2"></div> -->
    <ul class="list-group">
        {% for department in departments %}
        <li class="list-group-item"> <a href="{% url 'edit_department' department.id %}">{{department.department_name}}</a></li>
        {% endfor %}
    </ul>

</div>
<!-- row -->

{% endblock content %}
