{% extends 'tatuadmin/base.html'%}
{% load crispy_forms_tags %}
{% block content %}
    <div class="row container-fluid" style="padding-left:12%; margin-top:4em">
        <div class="col-md-2"></div>
        <div class="card shadow mb-4 col-md-8">
          <div class="">
              <form action="" method="POST">
                  {% csrf_token %}
                  <fieldset class="form-group">
                      <legend class="border-bottom mb-4">Edit Department</legend>
                      {{form | crispy}}
                  </fieldset>
                  <div class="form-group">
                      <button class="btn btn-outline-primary" type="submit">Update</button>
                  </div>
              </form>
          </div>
        </div>

        <div class="col-md-2"></div>
    </div>

{% endblock content %}
