
{% extends 'customer/base.html'%}
{% load bootstrap4 %}
{% block content %}

<div class="container ">
<div class="row">
  <div class="col-md-3">

  </div>
  <div class="col-md-6">
    <div class="row">
      <div class="col-md-6 mt-5 nosho">
       
      </div>
      <div class="col-md-6 mt-5">
        <form  action="" method="post" style="border: 2px solid lightgrey; padding:10%; background-color:white;" class="mt-5">
            <h4 style="font-family: 'Pacifico', cursive;" class="text-center">Login</h4>
          {% csrf_token %}
          {% bootstrap_form form layout='inline'%}

          <div class="form-group">
            <input type="submit" class="btn btn-primary btn-sm" value="Login">
          </div><div class="row" style="border: 2px solid lightgrey; padding:7%; background-color:white;">
        
            <p><a href="{% url 'password_reset' %}">Forgot Password?</a></p>
          
          </div>
          <input type="hidden" name="next" value="{{next}}">


         
        </form>
      </div>
    </div>
  </div>
  <div class="col-md-1">
</div>
</div>


{% endblock content %}
