{% extends 'customer/base1.html'%}
{% load crispy_forms_tags %}
{% block content %}
<div class="container">
    <div class="row mt-2">
        <div class="col-md-2"></div>
        <div class="col-md-8">
            <h5>You have been logged out! </h5>
            <div class="border-top pt-3">
                <a href="{% url 'login' %}" class="ml-2">Log In Again</a>
            </div>
        </div>
        <div class="col-md-2"></div>
    </div>
</div>
<style>
        body{background-image: url('https://www.standardmedia.co.ke/images/sunday/adgvkbebmzojob9tovy5d068b47acd99.jpg');
        -webkit-background-size: cover;
          -moz-background-size: cover;
          -o-background-size: cover;
          background-size: cover; 
          background-repeat: no-repeat;}</style>
{% endblock content %}
