
{% extends 'customer/base1.html'%}
{% load bootstrap4 %}
{% block content %}

<div class="container ">
<div class="row">
  <div class="col-md-3">

  </div>
  <div class="col-md-6">
    <div class="row">
      <div class="col-md-6 mt-5 nosho">
   
            
      </div>
      <div class="col-md-6 mt-5">

        <form  class="form-horizontal"action="" method="post" style="border: 2px solid lightgrey; padding:7%; background-color:white;">
          <h4 style="font-family: 'Pacifico', cursive;" class="text-center">Sign Up</h4>
          {% csrf_token %}
          {% bootstrap_form form layout='inline'%}
       
         
          <div class="form-group">
                <button class="btn btn-outline-primary" type="submit">Sign Up</button>
            </div>
          <input type="hidden" name="next" value="{{next}}">
         
        </form>
      </div>
    </div>
  </div>
  <div class="col-md-1">
</div>
</div>









{% endblock content %}
