
{% extends 'customer/base1.html'%}
{% load bootstrap4 %}
{% block content %}

<div class="container ">
<div class="row">
  <div class="col-md-3">

  </div>
  <div class="col-md-6">
    <div class="row">
          
      <div class="col-md-6 mt-5">
          

        <form  class="text-center border border-light p-5"action="" method="post" style=" border-radius: 15px solid lightgrey; padding:7%; background-color:white;width: 500px">
                <h4 style="font-family: 'Pacifico', cursive; color: #b2def2;size: 20px" class="text-center">Welcome to tatu connect</h4>
          <h4 style="font-family: 'Pacifico', cursive; color: #b2def2;size: 15px" class="text-center">Sign Up</h4>
          {% csrf_token %}
          {% bootstrap_form form layout='inline'%}
       
         
          <div class="form-group">
                <button class="btn btn-outline-info btn-rounded btn-block z-depth-0 my-4 waves-effect"type="submit">Sign Up</button>
            </div>
          <input type="hidden" name="next" value="{{next}}">

          <div class="col-md-6 mt-5 nosho">
   
         
             
            </div>
          <div class="row" style="border: 2px solid lightgrey; padding:7%; background-color:white;">
                <p>Already have an account?  <a href="{% url 'login' %}"></i>Login</a></p>
              </div>
         
        </form>
      </div>
    </div>
  </div>
  <div class="col-md-1">
</div>
</div>
<style>
body{background-image: url('https://www.standardmedia.co.ke/images/sunday/adgvkbebmzojob9tovy5d068b47acd99.jpg');
-webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover; }</style>








{% endblock content %}
