{% load bootstrap4%}
{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    {% if title %}
    <title>Tatu-{{title}}</title>
    {% else %}
    <title>Tatu</title>
    {% endif %}
​
    {% block styles %}
        {% bootstrap_css%}
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
        <link rel="stylesheet" href="{% static 'css/sb-admin-2.css'%}">
        <link href="{% static 'vendor/fontawesome-free/css/all.min.css' %}" rel="stylesheet" type="text/css">
        <link href="https://fonts.googleapis.com/css?family=Nunito:200,200i,300,300i,400,400i,600,600i,700,700i,800,800i,900,900i" rel="stylesheet">
​             <!-- Custom fonts for this template-->
        <link href="{% static 'vendor/fontawesome-free/css/all.min.css' %}" rel="stylesheet" type="text/css">
        <link href="https://fonts.googleapis.com/css?family=Nunito:200,200i,300,300i,400,400i,600,600i,700,700i,800,800i,900,900i" rel="stylesheet">

        <!-- Custom styles for this template-->
        <link href="{% static 'css/sb-admin-2.min.css' %}" rel="stylesheet">
                <!-- Custom styles for this template-->
                <link href="{% static  'css/sb-admin-2.css' %}" rel="stylesheet">
​
    {% endblock styles %}
</head>
<body>

    {% include 'agent/navbar.html'%}
    <div class="container">
​    {% block content %}

        <div class="row"  style="float:right; padding-left:12em; margin-top: -30em; margin-left: 12em" >
            <div class="col-md-2"></div>
            <div class="col-md-8">
                    <!-- flash messages -->
                    {% if  messages %}
                    {% for mssg in messages  %}
                    <div class="alert alert-{{mssg.tags}}">
​
                        {{mssg}}
                        <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                    {% endfor %}
                {% endif %}
                <!-- end flash messages -->
            </div>
            <div class="col-md-2"></div>
        </div>
        </div>
​

​
​

​
    {% endblock content %}
</div>
    {% block scripts %}
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
    <script src=" {% static 'vendor/jquery/jquery.min.js' %}"></script>
    <script src="{% static 'vendor/bootstrap/js/bootstrap.bundle.min.js ' %}"></script>
    ​       
    <!-- Bootstrap core JavaScript-->
    <script src="{% static 'vendor/jquery/jquery.min.js' %}"></script>
    <script src="{% static 'vendor/bootstrap/js/bootstrap.bundle.min.js' %}"></script>

    <!-- Core plugin JavaScript-->
    <script src="{% static 'vendor/jquery-easing/jquery.easing.min.js' %}"></script>

    <!-- Custom scripts for all pages-->
    <script src="{% static 'js/sb-admin-2.min.js' %}"></script>
    <!-- Core plugin JavaScript-->
    <script src=" {% static 'vendor/jquery-easing/jquery.easing.min.js' %}"></script>
​
    <!-- Custom scripts for all pages-->
    <script src=" {% static 'js/sb-admin-2.min.js' %}"></script>
    {% bootstrap_javascript%}
    <!-- <script src="{% static 'js/tatuadmin.js'%}"></script> -->
​
    {% endblock scripts %}
​
</body>
</html>