{% extends 'agent/base.html'%}
{% load crispy_forms_tags %}
{% block content %}
<div class="container-fluid" style="float:right; padding-left:26%; margin-top:4em">
    <div class="card shadow mb-4">

        <!-- <div class="col-md-2"></div> -->
        <div class="card-body">
          <div class="">

          </div>
            <form action="" method="POST" enctype="multipart/form-data" style="text-align:left;width:100%">
                {% csrf_token %}
                <fieldset class="form-group">
                    <legend class="border-bottom mb-4">Create Ticket For Customer</legend>
                    {{form | crispy}}
                </fieldset>
                <div class="form-group">
                    <button class="btn btn-outline-primary" type="submit">Create Ticket</button>
                </div>
            </form>

        </div>
        <!-- <div class="col-md-2"></div> -->
    </div>
</div>
{% endblock content %}
