{% include 'agent/base.html'%}

{% block content %}
<style media="screen">
  body {
    padding : 10px ;

  }
th{
  color:white;
}
  #exTab1 .tab-content {
    color : black;
    background-color: #fff;
    padding : 5px 15px;
  }

  #exTab2 h3 {
    color : black;
    background-color: #fff;
    padding : 5px 15px;
  }

  /* remove border radius for the tab */

  #exTab1 .nav-pills > li > a {
    border-radius: 0;
  }

  /* change border radius for the tab , apply corners on top*/

  #exTab3 .nav-pills > li > a {
    border-radius: 4px 4px 0 0 ;
  }

  #exTab3 .tab-content {
    color : black;
    background-color: #fff;
    padding : 5px 15px;
  }
</style>
<section id="welcome-section" class="container" style="float:right; padding-left:2em; ">
  <section style="padding-top:2em">
    <div class="row">
      <div class="col-lg-4 col-sm-2">

      </div>
      <div class="col-lg-4 col-sm-2">

      </div>
      <div class="col-lg-4 col-sm-2" style="float:right">

                      <form class="form-inline my-2 my-sm-0" role="search" action="{% url 'search_results' %}">

                          <div class="search">

                          <input class="form-control mr-sm-2" type="search" placeholder="Search For Ticket" aria-label="Search" name="ticket"><i class="fa fa-search"></i>

                        </div>

                      </form>
      </div>
    </div>
  </section>
  <!-- ############# Open Tickets ############### -->
    <section id="welcome-section" class="container" style="float:right; padding-left:4em; margin-top:2em">
      <section class="row">
             <div class="col-xl-3 col-md-6 mb-4">
               <div class="card border-left-primary shadow h-100 py-2">
                 <div class="card-body">
                   <div class="row no-gutters align-items-center">
                     <div class="col mr-2">
                       <div class="text-xs font-weight-bold text-info text-uppercase mb-1">Open Tickets</div>
                       <div class="row no-gutters align-items-center">
                         <div class="col-auto">
                           <div class="h5 mb-0 mr-3 font-weight-bold text-gray-800">{{tickets|length }}</div>
                         </div>
                         <div class="col">
                           <div class="progress progress-sm mr-2">
                             <div class="progress-bar bg-info" role="progressbar" style="width: {{tickets|length }}%" aria-valuenow="50" aria-valuemin="0" aria-valuemax="100"></div>
                           </div>
                         </div>
                       </div>
                     </div>
                     <div class="col-auto">
                       <i class="fas fa-calendar fa-2x text-gray-300"></i>
                     </div>
                   </div>
                 </div>
               </div>
             </div>
  <!-- ################End Open Tickets -->
             <!-- ################Pending Tickets #################### -->
             <div class="col-xl-3 col-md-6 mb-4">
               <div class="card border-left-success shadow h-100 py-2">
                 <div class="card-body">
                   <div class="row no-gutters align-items-center">
                     <div class="col mr-2">
                       <div class="text-xs font-weight-bold text-success text-uppercase mb-1">Pending Tickets </div>
                       <div class="h5 mb-0 font-weight-bold text-gray-800">{{pending_tickets|length }}</div>
                       <div class="col">
                         <div class="progress progress-sm mr-2">
                           <div class="progress-bar bg-info" role="progressbar" style="width: {{pending_tickets|length }}%" aria-valuenow="50" aria-valuemin="0" aria-valuemax="100"></div>
                         </div>
                       </div>
                     </div>

                     <div class="col-auto">
                       <i class="fas fa-clipboard-list fa-2x text-gray-300"></i>
                     </div>

                   </div>
                 </div>
               </div>
             </div>

             <!-- ###############End Pending Tickets ###################-->

             <!-- #####################Begin Closed Tickes ###################33 -->
             <div class="col-xl-3 col-md-6 mb-4">
               <div class="card border-left-info shadow h-100 py-2">
                 <div class="card-body">
                   <div class="row no-gutters align-items-center">
                     <div class="col mr-2">
                       <div class="text-xs font-weight-bold text-info text-uppercase mb-1">Closed Tickets</div>
                       <div class="row no-gutters align-items-center">
                         <div class="col-auto">
                           <div class="h5 mb-0 mr-3 font-weight-bold text-gray-800">{{closed_tickets|length }}</div>
                         </div>
                         <div class="col">
                           <div class="progress progress-sm mr-2">
                             <div class="progress-bar bg-info" role="progressbar" style="width: {{pending_tickets|length }}%" aria-valuenow="50" aria-valuemin="0" aria-valuemax="100"></div>
                           </div>
                         </div>
                       </div>
                     </div>
                     <div class="col-auto">
                       <i class="fas fa-clipboard-list fa-2x text-gray-300"></i>
                     </div>
                   </div>
                 </div>
               </div>
             </div>
  <!-- ##########################End Closed Ticket ########################## -->

               <!-- #####################Begin MY Tickes ###################33 -->
               <div class="col-xl-3 col-md-6 mb-4">
                 <div class="card border-left-info shadow h-100 py-2">
                   <div class="card-body">
                     <div class="row no-gutters align-items-center">
                       <div class="col mr-2">
                         <div class="text-xs font-weight-bold text-info text-uppercase mb-1">My Tickets</div>
                         <div class="row no-gutters align-items-center">
                           <div class="col-auto">
                             <div class="h5 mb-0 mr-3 font-weight-bold text-gray-800">{{ my_tickets|length }}</div>
                           </div>
                           <div class="col">
                             <div class="progress progress-sm mr-2">
                               <div class="progress-bar bg-info" role="progressbar" style="width: {{my_tickets|length }}%" aria-valuenow="50" aria-valuemin="0" aria-valuemax="100"></div>
                             </div>
                           </div>
                         </div>
                       </div>
                       <div class="col-auto">
                         <i class="fas fa-clipboard-list fa-2x text-gray-300"></i>
                       </div>
                     </div>
                   </div>
                 </div>
               </div>
    <!-- ##########################End My Ticket ########################## -->

    <div id="exTab1" class="container">
    <ul  class="nav nav-pills">
    			<li class="active">
            <a  href="#1a" data-toggle="tab">Open Tickets ({{tickets|length }})</a>
    			</li>
    			<li><a href="#2a" data-toggle="tab">Closed Tickets ({{closed_tickets|length }})</a>
    			</li>
    			<li><a href="#3a" data-toggle="tab">Pending Tickets ({{pending_tickets|length }})</a>
    			</li>
      		<li><a href="#4a" data-toggle="tab"></a>
    			</li>
    		</ul>

    			<div class="tab-content clearfix">
    			  <div class="tab-pane active" id="1a">
              <table class="table table-responsive mt-2">
                <thead class="thead" style="background-color: #357EC7
          ;color:black;">
                  <tr>
                    <!-- <th scope="col" style="color:white">ID</th> -->
                    <th scope="col">Issue</th>
                    <th scope="col">Ticket Type</th>
                    <th scope="col">Date Created</th>
                    <th scope="col">Agent</th>
                    <th scope="col">Status</th>
                    <th scope="col">Ticket Number</th>
                    <th scope="col">Action</th>
                  </tr>
                </thead>
                <tbody>
                  {% for ticket in tickets %}
                  <tr>
                    <!-- <th scope="row">{{ticket.id}}</th> -->

                    <td><a data-toggle="modal" href="#{{ticket.id}}{{ticket.owner.username}}">{{ticket.issue}}</a></td>
                    <td>{{ticket.ticket_type.name}}</td>
                    <td>{{ticket.date_created |date:"D, d M ,Y"}}</td>
                    <td>{{ticket.agent.username}}</td>
                    <td>{{ticket.get_status_display}}</td>
                    <td>{{ticket.ticket_number}}</td>
                    <td><button type="button" name="button" class="btn btn-primary outline" style="color:white; background-color:#4e73df;"><a href="{% url 'take_or_assign_ticket' ticket.id %}" style="color:white; background-color:#4e73df;">Action</a> </button></td>
                  </tr>
                  {% endfor %}
                </tbody>
              </table>
    				</div>
    				<div class="tab-pane" id="2a">
              <table class="table table-responsive mt-2"style="width:100em;">
                <thead class="thead-primary" style="background-color: #357EC7
              ;color:black;">
                  <tr>
                    <!-- <th scope="col" style="width:7.2em">ID</th> -->
                    <th scope="col" style="width:7.2em">Issue</th>
                    <th scope="col" style="width:7.2em">Ticket Type</th>
                    <th scope="col" style="width:7.2em">Date Created</th>
                    <th scope="col" style="width:7.2em">Agent</th>
                    <th scope="col" style="width:7.2em">Status</th>
                    <th scope="col" style="width:7.2em">Ticket Number</th>
                    <th scope="col" style="width:7.2em">Action</th>
                  </tr>
                </thead>
                <tbody>
                  {% for ticket in closed_tickets %}
                  <tr>
                    <!-- <th scope="row">{{ticket.id}}</th> -->

                    <td><a data-toggle="modal" href="#{{ticket.id}}{{ticket.owner.username}}">{{ticket.issue}}</a></td>
                    <td>{{ticket.ticket_type.name}}</td>
                    <td>{{ticket.date_created |date:"D, d M ,Y"}}</td>
                    <td>{{ticket.agent.username}}</td>
                    <td>{{ticket.get_status_display}}</td>
                    <td>{{ticket.ticket_number}}</td>
                    <td><a href="{% url 'take_or_assign_ticket' ticket.id %}">Action</a> </td>
                  </tr>
                  {% endfor %}
                </tbody>
              </table>
    				</div>
            <div class="tab-pane" id="3a">
              <table class="table table-responsive mt-2">
                <thead class="thead-primary" style="background-color: #357EC7
              ;color:black;">
                  <tr>
                    <th scope="col" style="width:7.2em">ID</th>
                    <th scope="col" style="width:7.2em">Issue</th>
                    <th scope="col" style="width:7.2em">Ticket Type</th>
                    <th scope="col" style="width:7.2em">Date Created</th>
                    <th scope="col" style="width:7.2em">Agent</th>
                    <th scope="col" style="width:7.2em">Status</th>
                    <th scope="col" style="width:7.2em">Ticket Number</th>
                  </tr>
                </thead>
                <tbody>
                  {% for ticket in pending_tickets %}
                  <tr>
                    <th scope="row">{{ticket.id}}</th>

                    <td><a data-toggle="modal" href="#{{ticket.id}}{{ticket.owner.username}}">{{ticket.issue}}</a></td>
                    <td>{{ticket.ticket_type.name}}</td>
                    <td>{{ticket.date_created |date:"D, d M ,Y"}}</td>
                    <td>{{ticket.agent.username}}</td>
                    <td>{{ticket.get_status_display}}</td>
                    <td>{{ticket.ticket_number}}</td>
                  </tr>

                  {% endfor %}
                </tbody>
              </table>
    				</div>
              <div class="tab-pane" id="4a">
              <!-- <h3>We use css to change the background color of the content to be equal to the tab</h3> -->
    				</div>
    			</div>
      </div>
<!-- <div id="exTab1" class="container" style="content-align:center; background-color:transparent">
    <ul  class="nav nav-pills" style="background-color:transparent">
			<li class="active card-header" style="width:19.1em">
        <a  href="#1a" data-toggle="tab">Open Tickets ({{tickets|length }})</a>
			</li>
			<li class="active card-header" style="width:19.8em"><a href="#2a" data-toggle="tab">Closed Tickets ({{closed_tickets|length }})</a>
			</li>
			<li class="active card-header" style="width:19.8em"><a href="#3a" data-toggle="tab">Pending Tickets ({{pending_tickets|length }})</a>
			</li>
		</ul>

			<div class="tab-content clearfix">
			  <div class="tab-pane active" id="1a">
              <table class="table table-responsive mt-2">
                <thead class="thead" style="background-color: #357EC7
          ;color:black;">
                  <tr>
                    <th scope="col">ID</th>
                    <th scope="col">Issue</th>
                    <th scope="col">Ticket Type</th>
                    <th scope="col">Date Created</th>
                    <th scope="col">Agent</th>
                    <th scope="col">Status</th>
                    <th scope="col">Ticket Number</th>
                    <th scope="col">Action</th>
                  </tr>
                </thead>
                <tbody>
                  {% for ticket in tickets %}
                  <tr>
                    <th scope="row">{{ticket.id}}</th>

                    <td><a data-toggle="modal" href="#{{ticket.id}}{{ticket.owner.username}}">{{ticket.issue}}</a></td>
                    <td>{{ticket.ticket_type.name}}</td>
                    <td>{{ticket.date_created |date:"D, d M ,Y"}}</td>
                    <td>{{ticket.agent.username}}</td>
                    <td>{{ticket.get_status_display}}</td>
                    <td>{{ticket.ticket_number}}</td>
                    <td><a href="{% url 'take_or_assign_ticket' ticket.id %}">Action</a> </td>
                  </tr>
                  {% endfor %}
                </tbody>
              </table>
				</div>
				<div class="tab-pane" id="2a">
          <table class="table table-responsive mt-2"style="width:100em;">
            <thead class="thead-primary" style="background-color: #357EC7
      ;color:black;">
              <tr>
                <th scope="col" style="width:7.2em">ID</th>
                <th scope="col" style="width:7.2em">Issue</th>
                <th scope="col" style="width:7.2em">Ticket Type</th>
                <th scope="col" style="width:7.2em">Date Created</th>
                <th scope="col" style="width:7.2em">Agent</th>
                <th scope="col" style="width:7.2em">Status</th>
                <th scope="col" style="width:7.2em">Ticket Number</th>
                <th scope="col" style="width:7.2em">Action</th>
              </tr>
            </thead>
            <tbody>
              {% for ticket in closed_tickets %}
              <tr>
                <th scope="row">{{ticket.id}}</th>

                <td><a data-toggle="modal" href="#{{ticket.id}}{{ticket.owner.username}}">{{ticket.issue}}</a></td>
                <td>{{ticket.ticket_type.name}}</td>
                <td>{{ticket.date_created |date:"D, d M ,Y"}}</td>
                <td>{{ticket.agent.username}}</td>
                <td>{{ticket.get_status_display}}</td>
                <td>{{ticket.ticket_number}}</td>
                <td><a href="{% url 'take_or_assign_ticket' ticket.id %}">Action</a> </td>
              </tr>
              {% endfor %}
            </tbody>
          </table>
				</div>
        <div class="tab-pane" id="3a">
          <table class="table table-responsive mt-2">
            <thead class="thead-primary" style="background-color: #357EC7
        ;color:black;">
              <tr>
                <th scope="col" style="width:7.2em">ID</th>
                <th scope="col" style="width:7.2em">Issue</th>
                <th scope="col" style="width:7.2em">Ticket Type</th>
                <th scope="col" style="width:7.2em">Date Created</th>
                <th scope="col" style="width:7.2em">Agent</th>
                <th scope="col" style="width:7.2em">Status</th>
                <th scope="col" style="width:7.2em">Ticket Number</th>
              </tr>
            </thead>
            <tbody>
              {% for ticket in pending_tickets %}
              <tr>
                <th scope="row">{{ticket.id}}</th>

                <td><a data-toggle="modal" href="#{{ticket.id}}{{ticket.owner.username}}">{{ticket.issue}}</a></td>
                <td>{{ticket.ticket_type.name}}</td>
                <td>{{ticket.date_created |date:"D, d M ,Y"}}</td>
                <td>{{ticket.agent.username}}</td>
                <td>{{ticket.get_status_display}}</td>
                <td>{{ticket.ticket_number}}</td>
              </tr>

              {% endfor %}
            </tbody>
          </table>
				</div>
			</div>
  </div> -->

  <!-- ==============modals========= -->
  {% for ticket in tickets  %}
  <div class="row mt-2">

    <!-- Modal -->
    <div class="modal fade" id="{{ticket.id}}{{ticket.owner.username}}" tabindex="-1" role="dialog"
      aria-labelledby="exampleModalLabel" aria-hidden="true">
      <div class="modal-dialog" role="document">
        <div class="modal-content">
          <div class="modal-header">
            <h6 class="modal-title" id="exampleModalLabel">{{ticket.issue |upper}}</h6>
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
              <span aria-hidden="true">&times;</span>
            </button>
          </div>
          <div class="modal-body">
            <div class="card card-body">
              <h6>Ticket Number:{{ticket.ticket_number}}</h6>
              <p class="card-text">{{ticket.summary}}</p>
              <li class="list-group">
              <li class="list-group-item">Owner: {{ticket.owner.username}}</li>
              <li class="list-group-item">Email: {{ticket.owner.email}}</li>
              <li class="list-group-item">Status: {{ticket.get_status_display}}</li>
              <li class="list-group-item">Date Created: {{ticket.date_created |date:"D, d M ,Y"}}</li>
              <li class="list-group-item">Priority: {{ticket.ticket_type.get_priority_display}}</li>
              <li class="list-group-item">Time: {{ticket.last_updated |date:"H:i"}}</li>

            </div>
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
          </div>
        </div>
      </div>
    </div>

  </div>

  {% endfor %}

  <!-- ==============modals========= -->
  {% for ticket in closed_tickets  %}
  <div class="row mt-2">

    <!-- Modal -->
    <div class="modal fade" id="{{ticket.id}}{{ticket.owner.username}}" tabindex="-1" role="dialog"
      aria-labelledby="exampleModalLabel" aria-hidden="true">
      <div class="modal-dialog" role="document">
        <div class="modal-content">
          <div class="modal-header">
            <h6 class="modal-title" id="exampleModalLabel">{{ticket.issue |upper}}</h6>
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
              <span aria-hidden="true">&times;</span>
            </button>
          </div>
          <div class="modal-body">
            <div class="card card-body">
              <h6>Ticket Number:{{ticket.ticket_number}}</h6>
              <p class="card-text">{{ticket.summary}}</p>
              <li class="list-group">
              <li class="list-group-item">Owner: {{ticket.owner.username}}</li>
              <li class="list-group-item">Email: {{ticket.owner.email}}</li>
              <li class="list-group-item">Status: {{ticket.get_status_display}}</li>
              <li class="list-group-item">Date Created: {{ticket.date_created |date:"D, d M ,Y"}}</li>
              <li class="list-group-item">Priority: {{ticket.ticket_type.get_priority_display}}</li>
              <li class="list-group-item">Time: {{ticket.last_updated |date:"H:i"}}</li>

            </div>
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
          </div>
        </div>
      </div>
    </div>

  </div>

  {% endfor %}


  <!-- ==============modals========= -->
  {% for ticket in pending_tickets  %}
  <div class="row mt-2">

    <!-- Modal -->
    <div class="modal fade" id="{{ticket.id}}{{ticket.owner.username}}" tabindex="-1" role="dialog"
      aria-labelledby="exampleModalLabel" aria-hidden="true">
      <div class="modal-dialog" role="document">
        <div class="modal-content">
          <div class="modal-header">
            <h6 class="modal-title" id="exampleModalLabel">{{ticket.issue |upper}}</h6>
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
              <span aria-hidden="true">&times;</span>
            </button>
          </div>
          <div class="modal-body">
            <div class="card card-body">
              <h6>Ticket Number:{{ticket.ticket_number}}</h6>
              <p class="card-text">{{ticket.summary}}</p>
              <li class="list-group">
              <li class="list-group-item">Owner: {{ticket.owner.username}}</li>
              <li class="list-group-item">Email: {{ticket.owner.email}}</li>
              <li class="list-group-item">Status: {{ticket.get_status_display}}</li>
              <li class="list-group-item">Date Created: {{ticket.date_created |date:"D, d M ,Y"}}</li>
              <li class="list-group-item">Priority: {{ticket.ticket_type.get_priority_display}}</li>
              <li class="list-group-item">Time: {{ticket.last_updated |date:"H:i"}}</li>

            </div>
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
          </div>
        </div>
      </div>
    </div>

  </div>

  {% endfor %}
  <!-- ========================== -->
</section>
{% endblock  %}
