{% include 'agent/base.html'%}
{% block content %}
<main>
<section id="welcome-section" class="container">
    <div class="row mt-2">
        <link href="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
        <script src="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/js/bootstrap.min.js"></script>
        <script src="//cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
        <!------ Include the above in your HEAD tag ---------->
        
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.css" />
        <div class="container">
            <div class="row">
            <div class="col-md-4">
              <div class="card-counter primary">
                <i class="fa fa-code-fork"></i>
                <span class="count-numbers">{{open_tickets|length }}</span>
                <span class="count-name">Open Tickets</span>
              </div>
            </div>
        
            <div class="col-md-4">
              <div class="card-counter danger">
                <i class="fa fa-ticket"></i>
                <span class="count-numbers">{{pending_tickets|length }}</span>
                <span class="count-name">Pending Tickets </span>
              </div>
            </div>
        
            <div class="col-md-4">
              <div class="card-counter success">
                <i class="fa fa-database"></i>
                <span class="count-numbers">{{closed_tickets|length }}</span>
                <span class="count-name">Closed Tickets</span>
              </div>
            </div>
        
        
            </div>
          </div>
        </div>
        
      <h5>Open Tickets </h5>

        <table class="table table-responsive mt-2">
          <thead class="thead-dark">
            <tr>
              <th scope="col">#</th>
              <th scope="col">Issue</th>
              <th scope="col">Ticket Type</th>
              <th scope="col">Date Created</th>
              <th scope="col">Agent</th>
              <th scope="col">Status</th>
              <th scope="col">Ticket Number</th>
              <th scope="col">Take/ Assign Ticket(s)</th>
            </tr>
          </thead>
          <tbody>
              {% for ticket in tickets %}
            <tr>
              <th scope="row">{{ticket.id}}</th>

              <td><a data-toggle="modal" href="#{{ticket.id}}{{ticket.owner.username}}">{{ticket.issue}}</a></td>
              <td>{{ticket.ticket_type.name}}</td>
              <td>{{ticket.date_created |date:"D, d M ,Y"}}</td>
              <td>{{ticket.agent.username}}</td>
              <td>{{ticket.get_status_display}}</td>
              <td>{{ticket.ticket_number}}</td>
              <td><a href="{% url 'take_or_assign_ticket' ticket.id %}">Take/ Assign Ticket(s)</a> </td>
            </tr>
            {% endfor %}
          </tbody>
        </table>


    </div>

    <div class="row mt-2">
      <h5>Closed Tickets </h5>

        <table class="table table-responsive mt-2">
          <thead class="thead-dark">
            <tr>
              <th scope="col">#</th>
              <th scope="col">Issue</th>
              <th scope="col">Ticket Type</th>
              <th scope="col">Date Created</th>
              <th scope="col">Agent</th>
              <th scope="col">Status</th>
              <th scope="col">Ticket Number</th>
              <th scope="col">Take/ Assign Ticket(s)</th>
            </tr>
          </thead>
          <tbody>
              {% for ticket in closed_tickets %}
            <tr>
              <th scope="row">{{ticket.id}}</th>

              <td><a data-toggle="modal" href="#{{ticket.id}}{{ticket.owner.username}}">{{ticket.issue}}</a></td>
              <td>{{ticket.ticket_type.name}}</td>
              <td>{{ticket.date_created |date:"D, d M ,Y"}}</td>
              <td>{{ticket.agent.username}}</td>
              <td>{{ticket.get_status_display}}</td>
              <td>{{ticket.ticket_number}}</td>
              <td><a href="{% url 'take_or_assign_ticket' ticket.id %}">Take/ Assign Ticket(s)</a> </td>
            </tr>
            {% endfor %}
          </tbody>
        </table>


    </div>


    <div class="row mt-2">
      <h5>Pending Tickets </h5>

        <table class="table table-responsive mt-2">
          <thead class="thead-dark">
            <tr>
              <th scope="col">#</th>
              <th scope="col">Issue</th>
              <th scope="col">Ticket Type</th>
              <th scope="col">Date Created</th>
              <th scope="col">Agent</th>
              <th scope="col">Status</th>
              <th scope="col">Ticket Number</th>
            </tr>
          </thead>
          <tbody>
              {% for ticket in pending_tickets %}
            <tr>
              <th scope="row">{{ticket.id}}</th>

              <td><a data-toggle="modal" href="#{{ticket.id}}{{ticket.owner.username}}">{{ticket.issue}}</a></td>
              <td>{{ticket.ticket_type.name}}</td>
              <td>{{ticket.date_created |date:"D, d M ,Y"}}</td>
              <td>{{ticket.agent.username}}</td>
              <td>{{ticket.get_status_display}}</td>
              <td>{{ticket.ticket_number}}</td>
            </tr>

            {% endfor %}
          </tbody>
        </table>
    </div>
   <!-- ==============modals========= -->
   {% for ticket in tickets  %}
   <div class="row mt-2">

<!-- Modal -->
<div class="modal fade" id="{{ticket.id}}{{ticket.owner.username}}" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
   <div class="modal-dialog" role="document">
     <div class="modal-content">
       <div class="modal-header">
         <h6 class="modal-title" id="exampleModalLabel">{{ticket.issue |upper}}</h6>
         <button type="button" class="close" data-dismiss="modal" aria-label="Close">
           <span aria-hidden="true">&times;</span>
         </button>
       </div>
       <div class="modal-body">
        <div class="card card-body">
          <h6>Ticket Number:{{ticket.ticket_number}}</h6>
          <p class="card-text">{{ticket.summary}}</p>
          <li class="list-group">
             <li class="list-group-item">Owner: {{ticket.owner.username}}</li>
             <li class="list-group-item">Email: {{ticket.owner.email}}</li>
             <li class="list-group-item">Status: {{ticket.get_status_display}}</li>
             <li class="list-group-item">Date Created: {{ticket.date_created |date:"D, d M ,Y"}}</li>
            <li class="list-group-item">Priority: {{ticket.ticket_type.get_priority_display}}</li>
            <li class="list-group-item">Time: {{ticket.last_updated |date:"H:i"}}</li>
          </li>
        </div>
       </div>
       <div class="modal-footer">
         <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
       </div>
     </div>
   </div>
 </div>

   </div>
       
   {% endfor %}

   <!-- ==============modals========= -->
   {% for ticket in closed_tickets  %}
   <div class="row mt-2">

<!-- Modal -->
<div class="modal fade" id="{{ticket.id}}{{ticket.owner.username}}" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
   <div class="modal-dialog" role="document">
     <div class="modal-content">
       <div class="modal-header">
         <h6 class="modal-title" id="exampleModalLabel">{{ticket.issue |upper}}</h6>
         <button type="button" class="close" data-dismiss="modal" aria-label="Close">
           <span aria-hidden="true">&times;</span>
         </button>
       </div>
       <div class="modal-body">
        <div class="card card-body">
          <h6>Ticket Number:{{ticket.ticket_number}}</h6>
          <p class="card-text">{{ticket.summary}}</p>
          <li class="list-group">
             <li class="list-group-item">Owner: {{ticket.owner.username}}</li>
             <li class="list-group-item">Email: {{ticket.owner.email}}</li>
             <li class="list-group-item">Status: {{ticket.get_status_display}}</li>
             <li class="list-group-item">Date Created: {{ticket.date_created |date:"D, d M ,Y"}}</li>
            <li class="list-group-item">Priority: {{ticket.ticket_type.get_priority_display}}</li>
            <li class="list-group-item">Time: {{ticket.last_updated |date:"H:i"}}</li>
          </li>
        </div>
       </div>
       <div class="modal-footer">
         <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
       </div>
     </div>
   </div>
 </div>

   </div>
       
   {% endfor %}


    <!-- ==============modals========= -->
    {% for ticket in pending_tickets  %}
    <div class="row mt-2">

<!-- Modal -->
<div class="modal fade" id="{{ticket.id}}{{ticket.owner.username}}" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h6 class="modal-title" id="exampleModalLabel">{{ticket.issue |upper}}</h6>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
         <div class="card card-body">
           <h6>Ticket Number:{{ticket.ticket_number}}</h6>
           <p class="card-text">{{ticket.summary}}</p>
           <li class="list-group">
              <li class="list-group-item">Owner: {{ticket.owner.username}}</li>
              <li class="list-group-item">Email: {{ticket.owner.email}}</li>
              <li class="list-group-item">Status: {{ticket.get_status_display}}</li>
              <li class="list-group-item">Date Created: {{ticket.date_created |date:"D, d M ,Y"}}</li>
             <li class="list-group-item">Priority: {{ticket.ticket_type.get_priority_display}}</li>
             <li class="list-group-item">Time: {{ticket.last_updated |date:"H:i"}}</li>
           </li>
         </div>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
        </div>
      </div>
    </div>
  </div>

    </div>
        
    {% endfor %}
    <!-- ========================== -->
</section>
</main>
<style>
  main {
  margin-left: 200px; /* Same as the width of the sidenav */
  padding: 0px 10px;
}
.card-counter{
    box-shadow: 2px 2px 10px #DADADA;
    margin: 5px;
    padding: 20px 10px;
    background-color: #fff;
    height: 100px;
    border-radius: 5px;
    transition: .3s linear all;
  }

  .card-counter:hover{
    box-shadow: 4px 4px 20px #DADADA;
    transition: .3s linear all;
  }

  .card-counter.primary{
    background-color: #007bff;
    color: #FFF;
  }

  .card-counter.danger{
    background-color: #ef5350;
    color: #FFF;
  }  

  .card-counter.success{
    background-color: #66bb6a;
    color: #FFF;
  }  

  .card-counter.info{
    background-color: #26c6da;
    color: #FFF;
  }  

  .card-counter i{
    font-size: 5em;
    opacity: 0.2;
  }

  .card-counter .count-numbers{
    position: absolute;
    right: 35px;
    top: 20px;
    font-size: 32px;
    display: block;
  }

  .card-counter .count-name{
    position: absolute;
    right: 35px;
    top: 65px;
    font-style: italic;
    text-transform: capitalize;
    opacity: 0.5;
    display: block;
    font-size: 18px;
  }</style>
{% endblock  %}
