{% include 'agent/base.html'%}
{% block content %}
<section id="welcome-section" class="container">
    <div class="row">
        <!-- <div class="col-md-2"></div> -->

        <table class="table table-responsive mt-2">
          <thead class="thead-dark">
            <tr>
              <th scope="col">#</th>
              <th scope="col">Issue</th>
              <th scope="col">Ticket Type</th>
              <th scope="col">Ticket Subtype</th>
              <th scope="col">Agent</th>
              <th scope="col">Status</th>
              <th scope="col">Ticket Number</th>
              <th scope="col">Re-Assign Ticket(s)</th>
              <th scope="col">Resolve Ticket(s)</th>
            </tr>
          </thead>
          <tbody>
              {% for ticket in tickets %}
            <tr>
              <th scope="row">{{ticket.id}}</th>

              <td>{{ticket.issue}}</td>
              <td>{{ticket.ticket_type.name}}</td>
              <td>{{ticket.ticket_subtype.subtype}}</td>
              <td>{{ticket.agent.username}}</td>
              <td>{{ticket.status}}</td>
              <td>{{ticket.ticket_number}}</td>
              <td><a href="{% url 'take_or_assign_ticket' ticket.id %}">Re-Assign Ticket(s)</a> </td>
              <td><a href="{% url 'resolve_ticket' ticket.id %}">Resolve Ticket</a></td>
            </tr>
            {% endfor %}
          </tbody>
        </table>


    </div>
</section>
{% endblock  %}
