{% include 'agent/base.html'%}
{% block content %}
<section id="welcome-section" class="container" style="float:right; padding-left:4em; ">
  <div class="row mt-2">
    <h5>My Tickets ({{tickets|length }})</h5>

    <table class="table table-responsive mt-2">
      <thead class="thead-light" style="background-color: #357EC7
;color:black;">
        <tr>
          <th scope="col">ID</th>
          <th scope="col">Title</th>
          <th scope="col">Agent</th>
          <th scope="col">Status</th>
          <th scope="col">Ticket Number</th>
          <th scope="col">Re-Assign Ticket(s)</th>
          <th scope="col">Resolve Ticket(s)</th>
        </tr>
      </thead>
      <tbody>
        {% for ticket in tickets %}
        <tr>
          <th scope="row">{{ticket.id}}</th>

          <td>{{ticket.ticket_subtype }}</td>
          <td>{{ticket.agent.username}}</td>
          <td>{{ticket.get_status_display}}</td>
          <td>{{ticket.ticket_number}}</td>
          <td><a href="{% url 'take_or_assign_ticket' ticket.id %}" class="btn btn-primary btn-sm">Re-Assign Ticket(s)</a> </td>
          <td><a href="{% url 'resolve_ticket' ticket.id %}" class="btn btn-info btn-sm">Resolve Ticket</a></td>
        </tr>
        {% endfor %}
      </tbody>
    </table>


  </div>

  <div class="row mt-2">
      <h5>Department Tickets ({{department_tickets|length }})</h5>
  
      <table class="table table-responsive mt-2">
        <thead class="thead-light" style="background-color: #357EC7
  ;color:black;">
          <tr>
            <th scope="col">ID</th>
            <th scope="col">Title</th>
            <th scope="col">Agent</th>
            <th scope="col">Status</th>
            <th scope="col">Department</th>
            <th scope="col">Ticket Number</th>
            <th scope="col">Action Ticket(s)</th>
            <th scope="col">Resolve Ticket(s)</th>
          </tr>
        </thead>
        <tbody>
          {% for ticket in department_tickets %}
          <tr>
            <th scope="row">{{ticket.id}}</th>
  
            <td>{{ticket.ticket_subtype }}</td>
            <td>{{ticket.agent.username}}</td>
            <td>{{ticket.get_status_display}}</td>
            <td>{{ticket.department}}</td>
            <td>{{ticket.ticket_number}}</td>
            <td><a href="{% url 'take_or_assign_ticket' ticket.id %}" class="btn btn-primary btn-sm">Action</a> </td>
            <td><a href="{% url 'resolve_ticket' ticket.id %}" class="btn btn-info btn-sm">Resolve Ticket</a></td>
          </tr>
          {% endfor %}
        </tbody>
      </table>
  
  
    </div>

  <!-- ==============modals========= -->

</section>
{% endblock  %}
