<!-- Sidebar -->
<ul class="navbar-nav bg-gradient-primary sidebar sidebar-dark accordion" id="accordionSidebar" style="height:auto; padding-bottom:-4em">

  <!-- Sidebar - Brand -->
  <a class="sidebar-brand d-flex align-items-center justify-content-center" href="{% url 'agent_home' %}">
    <div class="sidebar-brand-icon rotate-n-15">
      <i class="fas fa-laugh-wink"></i>
    </div>
    <div class="sidebar-brand-text mx-3">Tatu Agent <sup>3</sup></div>
  </a>

  <!-- Divider -->
  <hr class="sidebar-divider my-0">

  <!-- Nav Item - Dashboard -->
  <li class="nav-item">
    <a class="nav-link" href="{% url 'agent_home'%}">
      <i class="fas fa-fw fa-tachometer-alt"></i>
      <span>Dashboard</span></a>
  </li>

  <!-- Divider -->
  <hr class="sidebar-divider">

  <!-- Heading -->
  <div class="sidebar-heading">
    Interface
  </div>
{% if user.is_authenticated %}
  <!-- Nav Item - Pages Collapse Menu -->
  <li class="nav-item active">
    <a class="nav-link" href="{% url 'my_tickets' %}" >
      <i class="fas fa-fw fa-cog"></i>
      <span>My Tickets</span>
    </a>
  </li>

  <!-- Nav Item - Utilities Collapse Menu -->
  <!-- <li class="nav-item">
    <a class="nav-link collapsed" href="{% url 'user_management'%}">
      <i class="fas fa-fw fa-wrench"></i>
      <span>User Management</span>
    </a>

  </li> -->

  <!-- Divider -->
  <!-- <hr class="sidebar-divider">

  <!-- Heading -->
  <!-- <div class="sidebar-heading">
    Addons
  </div>  -->

  <!-- Nav Item - Pages Collapse Menu -->
  <!-- <li class="nav-item">
    <a class="nav-link collapsed" href="{% url 'department_management'%}" >
      <i class="fas fa-fw fa-folder"></i>
      <span>Department</span>
    </a>
  </li> -->


  <!-- Nav Item - Tables -->
  <!-- <li class="nav-item">
    <a class="nav-link" href="{% url 'tables' %}">
      <i class="fas fa-fw fa-table"></i>
      <span>Tables</span></a>


  </li> -->
  <div class="admin_profile" >
    <img src="{{user.profile.profile_photo.url}}" alt="" style="width:40px;display: block;
       margin-left: auto;
       margin-right: auto;
       border-radius: 50%;height: 40px; content-align:center;">
     <a href="{% url 'admin_profile' %}" class="nav-item nav-link" style="padding-left:2em; color:white !important">{{user.username}}</a>
     <a href="{% url 'logout' %}" class="nav-item nav-link" style="padding-left:2em; color:white!important"><i class="fa fa-sign-out fa-1x"></i>Log Out</a>
     {% else %}
     <a href="{% url 'login' %}" class="nav-item nav-link"><i class="fas fa-fw fa-sign-in fa-1x"></i>Log In</a>

  </div>

{% endif %}
  <!-- Divider -->
  <hr class="sidebar-divider d-none d-md-block">

  <!-- Sidebar Toggler (Sidebar) -->
  <div class="text-center d-none d-md-inline" style="padding-left:3em">
    <button class="rounded-circle border-0" id="sidebarToggle"></button>
  </div>

</ul>
<!-- End of Sidebar -->
