
    <!-- Sidebar -->
    <ul class="navbar-nav bg-gradient-primary sidebar sidebar-dark accordion" id="accordionSidebar" style="margin-top:-2%; margin-bottom: -8%">

        <!-- Sidebar - Brand -->
        <a class="sidebar-brand d-flex align-items-center justify-content-center" href="{% url 'index' %}">
          <div class="sidebar-brand-icon rotate-n-15">
            <i class="fas fa-laugh-wink"></i>
          </div>
          <div class="sidebar-brand-text mx-3">Tatu Agent </div>
        </a>
        <div class="sidebar-brand-text mx-3">Welcome,{{user.username}}</div>
      
        <!-- Divider -->
        <hr class="sidebar-divider my-0">
       
        <!-- Nav Item - Dashboard -->
        <li class="nav-item">
          <a class="nav-link" href="{% url 'index' %}">
            <i class="fas fa-fw fa-tachometer-alt"></i>
            <span>Dashboard</span></a>
        </li>
        {% if user.is_authenticated %}
        <!-- Divider -->
        <hr class="sidebar-divider">
  
        <!-- Heading -->
        <div class="sidebar-heading">
          Tickets
        </div>
  
        <!-- Nav Item - Pages Collapse Menu -->
        <li class="nav-item">
            <a class="nav-link" href="{% url 'profile' %}">
              <i class="fa fa-fw fa-user"></i>
              <span>Agent Profle</span></a>
          </li>
  
  
        <!-- Nav Item - Utilities Collapse Menu -->
        <li class="nav-item">
            <a class="nav-link" href="{% url 'my_tickets' %}">
              <i class="fas fa-paper-plane"></i>
              <span>My Tickets</span></a>
          </li>
  
        <!-- Divider -->
        <hr class="sidebar-divider">
  
        <!-- Heading -->
        <div class="sidebar-heading">
         Logout
        </div>
  
        <!-- Nav Item - Pages Collapse Menu -->
    
       
        {% else %}
        <li class="nav-item">
            <a class="nav-link" href="{% url 'login' %}">
              <i class="fas fa-sign-in-alt"></i>
              <span>Login</span></a>
          </li>
        <li class="nav-item">
            <a class="nav-link" href="{% url 'register' %}">
              <i class="fas fa-thumbs-up"></i>
              <span>Register</span></a>
          </li>
          {% endif %}
        <!-- Nav Item - Charts -->
        
        <li class="nav-item">
          <a class="nav-link" href="{% url 'logout' %}">
            <i class="fas fa-sign-out-alt"></i>
            <span>Logout</span></a>
        </li>
        <a class="nav-link" href="{% u
        <img src="{{user.profile.profile_photo.url}}"style="width:4em;   display: block;
        margin-left: auto;
        margin-right: auto;
        border-radius: 50%;height: 4em;">
       
        <!-- Nav Item - Tables -->
        
  
        <!-- Divider -->
        <hr class="sidebar-divider d-none d-md-block">
  
        <!-- Sidebar Toggler (Sidebar) -->
        <div class="text-center d-none d-md-inline">
          <button class="rounded-circle border-0" id="sidebarToggle"></button>
        </div>
  
      </ul>
      <!-- End of Sidebar -->
  